<div class="min-w-screen
min-h-screen
bg-yellow-600
flex
items-center
p-5">
  <div class="w-full
  mx-auto
  rounded-xl
  shadow-xl
  text-gray-600
  relative
  overflow-hidden" style="max-width: 500px;">
    <h1 class="text-center text-white py-3 text-3xl font-bold">Calculadora Angular-FrameWork</h1>
    <!--  Calculadora-->
    <div class="w-full
    h-40
    bg-gradient-to-b
    from-gray-800
    to-gray-700
    text-right">
      <!--Pantalla Funciones-->
      <div class="w-full
      py-5
      px-6
      text-2xl
      text-white
      font-thin"> {{funcText}} </div>
      <!-- Pantalla Numeros-->
      <div class="w-full 
      py-5
      px-6
      text-6xl
      text-white
      font-thin"> {{calValue | number}} </div>
    </div>
    <!--  Fin Calculadora-->

    <!-- Area Botones Calculadora-->
    <div class="w-full
    bg-gradient-to-b
    from-red-500
    to-red-800">
      <!--Botones Primera Fila!##-->
      <div class="flex w-full">
        <!--  Botones Borrado-->
        <div class="w-2/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('C','function')">Clear</button>
        </div>
        <!--  Fin Botones Borrado-->
        <!--  Boton Porcentaje -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('%','function')">%</button>
        </div>
        <!--  Fin Boton Porcentaje -->
        <!--  Boton Multiplicacion -->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('/','function')">/</button>
        </div>
        <!-- Fin Boton Multiplicacion -->
      </div>
      <!--  Fin Botones Primera Fila-->
      <!--  Botones Segunda Fila-->
      <div class="flex w-full">
        <!--  Botones numero 7-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('7','number')">7</button>
        </div>
        <!--  Botones numero 8-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('8','number')">8</button>
        </div>
        <!--  Botones numero 9-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('9','number')">9</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
          h-16
          outline-none
          hover:bg-red-700
          text-white
          hover:text-opacity-50
          text-xl
          font-light" (click)="onClickValue('*','function')">*</button>
        </div>
      </div>
      <!-- Fin Botones Segunda Fila-->
      <!--  Botones tercera Fila-->
      <div class="flex w-full">
        <!--  Botones numero 4-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
        h-16
        outline-none
        hover:bg-red-700
        text-white
        hover:text-opacity-50
        text-xl
        font-light" (click)="onClickValue('4','number')">4</button>
        </div>
        <!--  Botones numero 5-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
        h-16
        outline-none
        hover:bg-red-700
        text-white
        hover:text-opacity-50
        text-xl
        font-light" (click)="onClickValue('5','number')">5</button>
        </div>
        <!--  Botones numero 6-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
        h-16
        outline-none
        hover:bg-red-700
        text-white
        hover:text-opacity-50
        text-xl
        font-light" (click)="onClickValue('6','number')">6</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
        h-16
        outline-none
        hover:bg-red-700
        text-white
        hover:text-opacity-50
        text-xl
        font-light" (click)="onClickValue('-','function')">-</button>
        </div>
      </div>
      <!-- Fin Botones Tercera Fila-->
      <!--  Botones cuarta Fila-->
      <div class="flex w-full">
        <!--  Botones numero 1-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('1','number')">1</button>
        </div>
        <!--  Botones numero 2-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('2','number')">2</button>
        </div>
        <!--  Botones numero 3-->
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('3','number')">3</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('+','function')">+</button>
        </div>
      </div>
      <!-- Fin Botones cuarta Fila-->
      <!-- Botones quinta Fila-->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-red-400">
          <!-- Botones numero 0-->
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('0','number')">0</button>
        </div>
        <div class="w-1/4 border-r border-red-400">
          <!-- Botones decimal-->
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('.','function')">.</button>
        </div>
        <div class="w-2/4 border-r border-red-400">
          <!-- Botones igual-->
          <button class="w-full
    h-16
    outline-none
    hover:bg-red-700
    text-white
    hover:text-opacity-50
    text-xl
    font-light" (click)="onClickValue('=','function')">=</button>
        </div>
      </div>
    </div>
    <!-- Fin Area Botones Calculadora-->
  </div>
</div>